.App {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(325deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%);
	font-family: Fredoka;
	font-weight: 700;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.controls {
	display: flex;
	width: 200px;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

button {
	height: 3rem;
	width: 7rem;
	background: #282a3a;
	font-family: Fredoka;
	border-radius: 0.375rem;
}

.board-container {
	position: relative;
}

.board {
	border-radius: 5px;
	box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
	background: linear-gradient(135deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%);
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	backface-visibility: hidden;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 20px;
}

.card {
	position: relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.card-front,
.card-back {
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background: #282a3a;
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.card-back {
	transform: rotateY(180deg) rotateZ(50deg);
	font-size: 28pt;
	user-select: none;
	text-align: center;
	line-height: 100px;
	background: #fdf8e6;
}
